

.re-price-container {	
	width:100%;
	text-align: center;
	
}

.re-price {	
	display: inline-block; 
	margin: 0 auto;
}

.re-card-title {
	font-size:2em;
	font-weight: bold;
	text-align: center;
}

.re-money-sign {
    vertical-align:text-top;
	font-weight: bold;
    float:left;
    padding-top:1.2em;
}

.re-money {		
	font-size:3em;
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
    float:left;
}


.re-cents {	
    vertical-align: text-top; 
    text-align: left;
	font-weight: bold;
    float:left;
    padding-top:1.2em;
}

.re-corner-ribbon {
  width: 250px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  overflow: hidden;
}
.re-corner-ribbon.shadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
/* Different positions */

.re-corner-ribbon.top-right {
  /* top: 18px; */
    top:30px;
  right: -70px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(46deg);
  overflow: hidden;
}
.re-corner-ribbon.blue {
  background: #39d;
}
